.venv/
dist/
exist.egg-info/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.mypy_cache/
.ipynb_checkpoints/
__pycache__/
.ruff_cache/
models/random_forest_v1/*
!models/random_forest_v1/metadata.json
